*{
	margin: 0;
	padding: 0;
}
header {
	z-index: 200;
}
/* menu responsive*/
.menu_bar{
	display: none;
}
@media screen and (max-width: 800px){
	header nav{
		width: 80%;
		height: 100%;
		margin-top: 90px;
		margin-left: 0px;
		position: fixed;
	}

	header nav ul li{
		display: block;
		float: none;
		border-bottom: 1px solid rgba(255,255,255, .3);
	}
	header nav > ul > li > a span{
		display: none;
	}
	
	.menu_bar{
		display: block;
		width: 100%;
		background: #ccc;
	}
	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
	}
	header nav > ul > li:hover{
		background-color:#607D8B; 
	}
	header nav > ul > li:hover ul  {

		position: relative;
	}
}
nav {
	width: 100%;
    top:-20px;
    position: relative;
   
	margin:20px auto;
	
	
}
nav ul > li a.current:link ,a.current:visited  {
	background-color: red;
}
 
nav ul {
	list-style:none;
}
nav > ul {
	display: table;
	width: 100%;
	background: #CFD8DC;
	position: relative;
}
nav > ul li {
	display: table-cell;
}

 
nav > ul li a{
	color:red;
	display:  block;
	line-height:  20px;
	padding: 20px;
	position: relative;
	text-align: center;
	text-decoration: none;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
/* colo sub menus*/
nav > ul > li > ul >li a:hover{
	background: #607D8B;
}

nav > ul > li > a span{
	background: #455A64;
	display: block;
	height: 100%;
	width: 100%;
	left: 0px;
	position: absolute;
	top:-55px;


}
nav > ul > li > a span .icon{
	display: block;
	line-height: 60px;
}
.color{
	color: white;
}
nav > ul >li >a:hover > span{
	top: 0px;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
nav > ul > li:hover > ul {
	display: block;
	height: 100%;
} 
nav > ul > li >ul{
	display: block;
	position: absolute;
	background: #CFD8DC;
	
	overflow: hidden;
	height: 0%;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
/* Color letra*/
nav > ul li a {
	color: #00013A;
}